* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
}

body {
  background-color: black;
}

main {
  height: 100vh;

  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  font-family: sans-serif;
  color: white;

  max-width: fit-content;
}

h1 {
  margin-top: 2rem;
  opacity: 0.9;
}

p {
  opacity: 0.7;
  font-size: 0.9rem;
  margin-top: .5rem;

  max-width: 99%;
}

input, button {
  width: 100%;
  height: 3.125rem;
  border-radius: 0.3125rem;
  border: none;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

input {
  margin-top: 2rem;
}

button {
  background-color: purple;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 0.8rem;
}

button:hover {
  opacity: 0.8;
}

#answer-container {
  max-width: 400px;
  word-break: break-word;
}

.question {
  margin-top: 20px;
}

.answer {
  margin-top: 10px;
}